body {


    text-align: center;
    background-color: #7149C6;


}

#color {

    color: #FFDEB9;
    background-color: black;



}

button {

    background-color: #FC2947;



}

a {

    color: #FFDEB9;
    



}

