#colorUno {

    background-color: #af1925;



}

#colorDos {

    color: #f69720;



}

#colorTres {

    background-color: #402687;



}

#encabezado {

 font-size: 40px;
 color: white;
 background-color: #af1925;
 text-align: center;




}

#cuerpo {

    background-color: #fb2932;



}

#cuadro {

    background-color: #402687;



}

