.flexContenedor {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.flexContenedor > div {

    display: flex;
    height: 200px;
    border: 1px solid green;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.gridContenedor {

    display: grid;
    grid-template-columns: 200px 40% auto;
    gap: 10px;


}

.gridContenedor > div {

    height: 200px;
    border: 1px solid green;

}

body {

    background-color: antiquewhite;
    


}
